.careerAndSkillStack {
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: start !important;
    max-width: fit-content;
    margin-inline: auto;
}

.stackTitle {
    margin: 10px;
    font-size:larger;
}

.skillNameWithIconBox {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
}

.skillIconImage {
    margin: 5px;
    width: 25px;
    height: 25px;
}

.skillLevel {
    --bs-progress-bar-bg: #2E4156 !important;
}